<div class="home">
  <h2>Hi, {{name}}!</h2>
  <a href="/task"><button>Tasks</button></a>
  <a href="/profile"><button>Profile</button></a>
  <div id="taskForm" style="display: none;">
    <form action="/task" method="post" onSubmit="return checkValidation()">
      <h4>Create New Task</h4>
      <p>Task name: <input type="text" name="name" id="name"></p>
      {{#if name_error}}<span class="error" id="name-error">{{name_error}}</span>{{/if}}
      <p>Description: <input type="textbox" name="description" id="description"></p>
      {{#if description_error}}<span class="error" id="description-error">{{description_error}}</span>{{/if}}
      <p>Experience count: <input type="number" name="points" id="points"></p>
      {{#if points_error}}<span class="error" id="points-error">{{points_error}}</span>{{/if}}
      <p>Level: <input type="number" name="level" id="level"></p>
      {{#if level_error}}<span class="error" id="level-error">{{level_error}}</span>{{/if}}
      <button type="submit">Submit</button>
    </form>
  </div>
  <button onclick="showForm()" id="createTask">Create Task</button>
  {{#if success}}<p id="success">{{success}}</p>{{/if}}
  <br />
  <br />
  <div id="question">
    <h3>What problem are you facing?</h3>
    <form action="/selectCategory" method="post">
      <input id="depressionCheck" name="depression" type="hidden" />
      <button onclick="handleDepression()" id="depression" value="false">Depression</button>

      <input id="anxietyCheck" name="anxiety" type="hidden" />
      <button onclick="handleAnxiety()" id="anxiety" name="anxiety">Anxiety</button>

      <input id="disorderCheck" name="disorder" type="hidden" />
      <button onclick="handleEatingDisorder()" id="disorder">Eating Disorder</button>

      <input id="schizoCheck" name="schizo" type="hidden" />
      <button onclick="handleSchizophrenia()" id="schizo">Schizophrenia</button>
    </form>
    <br />
    <br />
    <a href="/task"><button>Next</button></a>
  </div>
</div>