<!-- TODO: This is where our task layout will go. We need to define:
  - What is the schema of a task.
  - What should we show when viewing a task.
  - What html elements are each task.
-->
<a href="/logout"><button>Log Out</button></a>
<div class="show">
  <div class="card">
    <div class="container">
      <h2>{{task.name}}</h2>
      <p><strong>How to do: </strong>{{task.description}}</p>
      <p><strong>Points: </strong>{{task.points}}</p>
      <p><strong>Level: </strong>{{task.level}}</p>
      <form action="/task/completeTask/{{task._id}}" method="post" id="completeTask" onSubmit="return completeTask()">
        <button type="submit" id="complete">Complete</button>
      </form>
    </div>
  </div>
</div>